.movie-view{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    width: 100%;
    gap: 20px;
    padding: 20px;
    background-color: rgb(110, 110, 110);

    .movie-card{

        img{
            object-fit: cover;
            width: 100%;
        }
    }

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr;

        .movie-card img {
            height: 65vw;
        }
    }

    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;

        .movie-card img {
            height: 50vw;
        }
    }
}