@import '~@angular/material/theming';
@include mat-core();

$bugflix-angular-primary: mat-palette($mat-indigo);
$bugflix-angular-accent: mat-palette($mat-pink, A200, A100, A400);
$bugflix-angular-warn: mat-palette($mat-red);

$bugflix-angular-theme: mat-light-theme(
	(
		color: (
			primary: $bugflix-angular-primary,
			accent: $bugflix-angular-accent,
			warn: $bugflix-angular-warn,
		),
	)
);

@include angular-material-theme($bugflix-angular-theme);

html,
body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: rgb(110, 110, 110);
}

.mat-card-header-text{
	margin: 0 !important;
}

.mat-card-actions{
	display: flex !important;
	align-items: center;
}



.movie-view-button{
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;

	button{
		margin: 0 !important;

		&:not(:last-of-type){
			margin-right: 10px !important;
		}
	}

	.mat-icon {
		cursor: pointer;
		margin-left: 10px;
	}
}
